.image {
  max-width: 300px;
  border-radius: 4px;
}

:root {
  --background: linear-gradient(
    109.6deg,
    rgb(251, 250, 225) 11.2%,
    rgb(206, 240, 185) 47.5%,
    rgb(100, 163, 111) 100.2%
  );
}
body {
  background: var(--background);
}
